/*browser reset*/
*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*this is the header*/
#header{
  background-image: url(images/header.svg);
  position: fixed;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid black;
}
/* custom font als je een tekst dit font wilt gebruiken moet je de naam "font" gebruiken. graag cusotm font in dit stukje invoegen*/
@font-face{ 
font-family: bit;
src: url("PressStart2P.ttf");
}
/*einde custom font */

#logo{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 60px;
}