/*browser reset*/
*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: bit, sans-serif;
  font-size: 14pt;
  text-align: justify;
}

/*this is the header*/
#header{
  background-image: url(images/header.svg);
  position: fixed;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid black;
  top: 0;
  color: black;
}
/* custom font als je een tekst dit font wilt gebruiken moet je de naam "font" gebruiken. graag cusotm font in dit stukje invoegen*/
@font-face{ 
font-family: bit;
src: url("PressStart2P.ttf");
}
/*einde custom font */

#logo{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 60px;
}

p{
  padding: 5px;
}

#container{
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  width: 980px;
  height: auto;
  background-color: white;
  margin-bottom: 100px;
}


ul{
  list-style: none;
}

#navMenu{
  display: none;
  background-color: white;
  width: 150px;
  height: 150px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-right: 100px;
}

#menubalk:hover #navMenu{
  display: block;
}

#showMenu{
  position: relative;
  height: 45px;
  width: 50px;
  background-color: white;
  display: block;
  float: left;
  margin-top: 3px;
  cursor: pointer;

}

.bar{
  width: 40px;
  height: 5px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  
}

#menubalk{
  float: right;
  margin-right: 80px;
  font-family: arial, calibri, sans-serif;
  font-size: 18pt;
  width: auto;
  height: 50px;
}

#showMenu li{
  padding: 5px;
}

#showMenu:hover{
  background-color: rgb(16,113,186);
}

#showMenu a:hover{
  border-bottom: 3px solid 
}

#showMenu a{
  text-decoration: none;
  color: black;
}

#footer{
  height: 60px;
  width: 100%;
  bottom: 0;
  background-color: white;
  position: fixed;
  border-top: 3px solid black;
  text-align: center;
}

.pfooter{
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 260px;
  margin-top: 10px;
  font-size: 12pt;
  padding: 0;
}

.hOverOns{
  padding: 5px;
}

.hHtmlcss{
  padding: 5px;
  float: center;
}

.span{
  font-size: 14pt;
  color: rgb(16,113,186);
  font-family: bit;
}

.para{
  width: 980px;
  height: 1300px;
  font-size: 10pt;
  margin-bottom: 100px;
}

.story{
  float: left;
  width: 400px;
  height: 600px;
  text-align: justify;
  padding: 2px;
  font-family: Arial, Calibri, sans-serif;
  font-size: 12pt;
}

.storyright{
  float: right;
  width: 400px;
  height: 600px;
  text-align: justify;
  padding: 2px;
  font-family: Arial, Calibri, sans-serif;
  font-size: 12pt;
}

/* vakpagina */

div.htmlimg{
  float: left;
  width: 500px;
  margin-left: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}
div.htmlimg2{
  float: right;
  width: 300px;
  margin-top: 100px;
  margin-right: 50px; 
  margin-bottom: 100px;

}

.font{
  font-size: 14pt;
  font-family: Arial, Calibri, sans-serif;
}